<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.integration.mapper.AccountMapper">
    <select id="selectAll" resultType="com.integration.entity.Account">
        select * from account
    </select>
    <insert id="insert" parameterType="com.integration.entity.Account">
        insert into account (name,money) values (#{name},#{money})
    </insert>
    <delete id="delete" parameterType="java.lang.Integer">
        delete from account where id=#{id}
    </delete>
</mapper>